body {
	font-family: Arial;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.container {
	border: 1px solid black;
}

#p1 {
	color: darkgreen
}

svg {
	color: blue
}

h3 {
	text-align: center;
}